// Add Script Area
<% if (includeJQuery) { %>
script(src="assets/vendor/jquery.min.js")<% } %>
//- script(src="vendor/popper.min.js")
<% if (includeBootstrap) { %>
script(src="assets/vendor/bootstrap.min.js")<% } %>
