<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <!--if IE meta(http-equiv='X-UA-Compatible', content='IE=edge')
    -->
  <title>Starter</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory-->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="favicon.ico">

  <!-- Add Local Css-->
  <% if (includeFontAwesome) { %><link rel="stylesheet" href="assets/vendor/font-awesome.min.css"><% } %>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

</html>

<body class="index-page">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repudiandae expedita, illum accusantium ullam impedit sint qui alias, facere maiores fugit debitis vel doloribus, voluptatum dolore quasi inventore dignissimos laborum.

  <!-- Add Script Area-->
  <% if (includeJQuery) { %><script src="vendor/jquery.min.js"></script><% } %>
  <% if (includeBootstrap) { %><script src="vendor/bootstrap.min.js"></script><% } %>
</body>