include jadefiles/global/head.pug
|
|
body.index-page
  |
  |
  .home-wrap
    .home-sections

      include jadefiles/contact.pug

      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae explicabo earum fugit architecto minus libero mollitia natus? Porro voluptatem rem harum necessitatibus reiciendis fuga alias sit totam mollitia qui.
      //- <i class="fa fa-car" aria-hidden="true"></i>
      i.fa.fa-car(aria-hidden="true")
  |        
  |
  |      
  div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.pug
